@charset "UTF-8";
/* 初始化 */
body, ul, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html, body, #app, .el-container {
  height: 100%;
}

/* 公共样式 */
.iconfont {
  font-size: 30px;
}

.mark {
  color: "#409EFF";
}

ul {
  margin-left: 40px;
  line-height: 60px;
}

img {
  border-radius: 10px;
}

.box-card {
  min-height: 926px;
  background: url("../img/Sports.png");
}
